body {
    background-color: #142530;
    color: white;
    margin: 0;
}
.fondo-gris {
    background-color: #1F1F2B;
}
.texto-rosado {
    color: #CF1EF7;
}
.contenedor-marca {
    color: #CF1EF7;
    align-content: flex-start;
}
.contenedor-perfil {
    color: #CF1EF7;
    align-content: flex-start;
}
.texto-INICIO {
    display: flex;
    color: #FCFCFC;
    align-items: center;
    justify-content: center;

}
.contenedor_superior{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}
.barra{
    width: 400px;
}
.mi-botton{
    background-color: #006194;
    color : #CF1EF7 ;
    border: none;
 }
.formulario_inicio_sesion {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagen_inicio_sesion {
    display: flex;
    width: 60%;
}
.zona_superior {
    background-color: #06181F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1000;
    gap: 10px;
}
.juegos{
    text-align: left;
    max-width: 600px;
    margin: 40px;
    font-size: 1.2rem;
}
.botones{
    display:flex;
    gap:20px;
    align-items: center;
    justify-content: center;
}
.botton-interactivo{
    background-color:#021d28;
    border-radius: 12px;
    color:white;
    border: none;
    width: 400px;
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.boton.interactivo img{
    width: 100%;
    height: 120px;
    object-fit: cover;
}
.boton-deposito{
    background-color:#CF1EF7 ;
    color: #06181F;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 10px;
    align-items: center;
}
.contenedor-perfil{
    display: flex;
    align-items: center;
    gap:12px;
    color: #CF1EF7;
}
.bloque-saldo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.moneda{
    color: white;
    font-size: 9px;
    font-weight: bold;
}
.saldo {
    color: white;
    font-size: 10px;
    font-weight: bold;
}

.info-juego  {   
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.info-juego h4 {   
   margin: 0;
   color: #CF1EF7;
   font-size: 16px;
}

.info-juego p {   
    margin: 0;
    font-size: 12px;
    color:#FCFCFC;
    line-height: 1.2;
}