body {
    background-color: #142530;
    color: white;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
.contenedor-marca {
    color: #CF1EF7;
    align-content: flex-start;
}
.contenedor-sesion{
    display: flex;
    align-items: center;
    color: #CF1EF7;
    justify-content: space-around;
    padding: 0px;
    width: 100%;
}
.imagen_inicio_sesion{
    display: flex;
    gap: 0px;
    padding: 0px;
    margin: 0;
    overflow: hidden;
    width: 70%;
}
.imagen_inicio_sesion img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    min-height: calc(100vh - 120px);
}
.formulario_inicio_sesion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    gap: 10px;
    padding: 30px;
    max-width: none;
}
.contenedor-perfil{
    display: flex;
    align-items: center;
    gap:12px;
    color: #CF1EF7;
    align-content: flex-start;
}

.contenedor_superior{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}
.barra{
    width: 400px;
}
.zona_superior {
    background-color: #06181F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1000;
    gap: 10px;
}
.juegos{
    text-align: left;
    max-width: 600px;
    margin: 40px;
    font-size: 1.2rem;
}
.botones{
    display:flex;
    gap:20px;
    align-items: center;
    justify-content: center;
}
.botton-interactivo{
    background-color:#021d28;
    border-radius: 12px;
    color:white;
    border: none;
    width: 400px;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.botton-interactivo img{
    width: 100%;
    height: 65%;
    object-fit: cover;
}
.boton-deposito{
    background-color:#CF1EF7 ;
    color: #06181F;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 10px;
    align-items: center;
}
.bloque-saldo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.moneda{
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.saldo {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.info-juego  {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: center;
}

.info-juego h4 {
    margin: 0;
    color: #CF1EF7;
    font-size: 16px;
}

.info-juego p {
    margin: 0;
    font-size: 12px;
    color:#FCFCFC;
    line-height: 1.2;
}
.pie-pagina {
    background-color: #06181F;
    text-align: center;
}