body {
    background-color: #142530;
    color: white;
    margin: 0;
}
.fondo-gris {
    background-color: #1F1F2B;
}
.texto-rosado {
    color: #CF1EF7;
}
.contenedor{
    display: flex;
}
.contenedor-principal {
    display: flex;
    height: 100vh;
}
.mi-botton{
    background-color: #006194;
    color : #CF1EF7 ;
    border: none;
 }
.formulario_inicio_sesion {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagen_inicio_sesion {
    display: flex;
    width: 60%;
}
